
<div class="col-xs-12">
  <uib-tabset type="pills">
    <uib-tab heading="All Appointments">
      <ul class="reports-list">
        <li class="appointment-info" ng-repeat="appointment in admin.appointments | orderBy: 'startsAt'"
        ng-if="(admin.todaysDate | date: 'yyMMdd') <= (appointment.startsAt | date:'yyMMdd')">
          <div class="appointment-meta">
            <div><i class="fa fa-tag"></i> {{appointment.title}}</div>
            <div><i class="fa fa-calendar"></i> {{appointment.startsAt | date:'EEEE, MMM dd'}}</div>
            <div><i class="fa fa-clock-o"></i> {{appointment.startsAt | date:'hh:mm a'}}</div>
          </div>
          <div class="appointment-details">
            <div>Volunteers:
              <ul>
                <li ng-repeat="volunteer in appointment.volunteers">{{volunteer.fullName}}</li>
              </ul>
            </div>
            <div># Clients: {{appointment.clients}}</div>
            <div>
              <div>Volunteer Slots: {{appointment.volunteers.length}} / {{appointment.volunteerSlots}}</div>
              <div>Client Slots: {{appointment.clients}} / {{appointment.clientSlots}}</div>
            </div>
          </div>
        </li>
      </ul>
    </uib-tab>
    <uib-tab heading="Full Appointments">
      <ul class="reports-list">
        <li class="appointment-info" ng-repeat="appointment in admin.appointments"
        ng-if="(appointment.clients === appointment.clientSlots) && (appointment.volunteers.length === appointment.volunteerSlots) && ((admin.todaysDate | date: 'yyMMdd') <= (appointment.startsAt | date:'yyMMdd'))">
        <div class="appointment-meta">
          <div><i class="fa fa-tag"></i> {{appointment.title}}</div>
          <div><i class="fa fa-calendar"></i> {{appointment.startsAt | date:'EEEE, MMM dd'}}</div>
          <div><i class="fa fa-clock-o"></i> {{appointment.startsAt | date:'hh:mm a'}}</div>
        </div>
        <div class="appointment-details">
          <div>Volunteers:
            <ul>
              <li ng-repeat="volunteer in appointment.volunteers">{{volunteer.fullName}}</li>
            </ul>
          </div>
          <div># Clients: {{appointment.clients}}</div>
          <div>
            <div>Volunteer Slots: {{appointment.volunteers.length}} / {{appointment.volunteerSlots}}</div>
            <div>Client Slots: {{appointment.clients}} / {{appointment.clientSlots}}</div>
          </div>
        </div>
        </li>
      </ul>
    </uib-tab>
    <uib-tab heading="Balanced Appointments">
      <ul class="reports-list">
        <li class="appointment-info" ng-repeat="appointment in admin.appointments"
        ng-if="(appointment.clients === appointment.volunteers.length) && ((admin.todaysDate | date: 'yyMMdd') <= (appointment.startsAt | date:'yyMMdd'))">
          <div class="appointment-meta">
            <div><i class="fa fa-tag"></i> {{appointment.title}}</div>
            <div><i class="fa fa-calendar"></i> {{appointment.startsAt | date:'EEEE, MMM dd'}}</div>
            <div><i class="fa fa-clock-o"></i> {{appointment.startsAt | date:'hh:mm a'}}</div>
          </div>
          <div class="appointment-details">
            <div>Volunteers:
              <ul>
                <li ng-repeat="volunteer in appointment.volunteers">{{volunteer.fullName}}</li>
              </ul>
            </div>
            <div># Clients: {{appointment.clients}}</div>
            <div>
              <div>Volunteer Slots: {{appointment.volunteers.length}} / {{appointment.volunteerSlots}}</div>
              <div>Client Slots: {{appointment.clients}} / {{appointment.clientSlots}}</div>
            </div>
          </div>
        </li>
      </ul>
    </uib-tab>
    <uib-tab heading="Volunteer Needed">
      <ul class="reports-list">
        <li class="appointment-info" ng-repeat="appointment in admin.appointments"
        ng-if="(appointment.clients > appointment.volunteers.length) && !(appointment.volunteers.length === appointment.volunteerSlots) && ((admin.todaysDate | date: 'yyMMdd') <= (appointment.startsAt | date:'yyMMdd'))">
        <div class="appointment-meta">
          <div><i class="fa fa-tag"></i> {{appointment.title}}</div>
          <div><i class="fa fa-calendar"></i> {{appointment.startsAt | date:'EEEE, MMM dd'}}</div>
          <div><i class="fa fa-clock-o"></i> {{appointment.startsAt | date:'hh:mm a'}}</div>
        </div>
        <div class="appointment-details">
          <div>Volunteers:
            <ul>
              <li ng-repeat="volunteer in appointment.volunteers">{{volunteer.fullName}}</li>
            </ul>
          </div>
          <div># Clients: {{appointment.clients}}</div>
          <div>
            <div>Volunteer Slots: {{appointment.volunteers.length}} / {{appointment.volunteerSlots}}</div>
            <div>Client Slots: {{appointment.clients}} / {{appointment.clientSlots}}</div>
          </div>
        </div>
        </li>
      </ul>
    </uib-tab>
    <uib-tab heading="Extra Volunteer">
      <ul class="reports-list">
        <li class="appointment-info" ng-repeat="appointment in admin.appointments"
        ng-if="(appointment.clients < appointment.volunteers.length) && !(appointment.clients === appointment.clientSlots) && ((admin.todaysDate | date: 'yyMMdd') <= (appointment.startsAt | date:'yyMMdd'))">
        <div class="appointment-meta">
          <div><i class="fa fa-tag"></i> {{appointment.title}}</div>
          <div><i class="fa fa-calendar"></i> {{appointment.startsAt | date:'EEEE, MMM dd'}}</div>
          <div><i class="fa fa-clock-o"></i> {{appointment.startsAt | date:'hh:mm a'}}</div>
        </div>
        <div class="appointment-details">
          <div>Volunteers:
            <ul>
              <li ng-repeat="volunteer in appointment.volunteers">{{volunteer.fullName}}</li>
            </ul>
          </div>
          <div># Clients: {{appointment.clients}}</div>
          <div>
            <div>Volunteer Slots: {{appointment.volunteers.length}} / {{appointment.volunteerSlots}}</div>
            <div>Client Slots: {{appointment.clients}} / {{appointment.clientSlots}}</div>
          </div>
        </div>
        </li>
      </ul>
    </uib-tab>
  </uib-tabset>
</div>
<div class="clear"></div>
