<div class="col-sm-6 hide-print">
  <div><h5 style="display: inline-block">Filter:</h5> <a href="#" ng-click="admin.resetSearch()"><h6 style="display: inline-block">Clear Search</h6></a></div>
  <div class="btn-group" uib-dropdown is-open="admin.oppDropdownOpen" auto-close="outsideClick">
    <button id="opportunity-search"
      type="button"
      ng-class="{'btn-default': !admin.searchOpportunityActive, 'btn-primary': admin.searchOpportunityActive}"
      class="btn"
      uib-dropdown-toggle
      ng-disabled="disabled">
      Opportunity <span class="caret"></span>
    </button>
    <ul class="dropdown-menu search-opp" uib-dropdown-menu aria-labelledby="single-button">
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.imageCoach"> Image Coach</li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.careerCoach"> Career Coach </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.clothingSorter"> Clothing Sorter </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.clothingOrganizer"> Clothing Organizer </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.frontDesk"> Front Desk Volunteer </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.clothingSale"> Clothing Sale Volunteer </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.clothingSaleCaptain"> Clothing Sale Captain </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.careerAdvocate"> Career Advocate </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.intelligenceMentor"> Professional Intelligence Mentor </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.intelligenceMuse"> Professional Intelligence Muse </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.communityAmbassador"> Community Ambassador </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.eventSetUp"> Client Event Set Up Volunteer </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.photographer"> Event Photographer </li>
      <li class="dropdown-option"><input type="checkbox" ng-model="admin.search.opportunity.graphicDesigner"> Graphic Designer </li>
      <li class="dropdown-select-all">
        <p style="font-size: .8em">Will list all volunteers that match at least one of the opportunities selected</p>
        <h5><button class="btn btn-default" ng-click="admin.clearSearchOpp()">Clear Selections</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" uib-dropdown is-open="admin.availDropdownOpen" auto-close="outsideClick">
    <button
      id="available-search"
      type="button"
      ng-class="{'btn-default': !admin.searchAvailActive, 'btn-primary': admin.searchAvailActive}"
      class="btn"
      uib-dropdown-toggle
      ng-disabled="disabled">
      Availability <span class="caret"></span>
    </button>
    <div class="dropdown-menu search-avail" uib-dropdown-menu aria-labelledby="single-button">
      <table class="table table-hover table-availability">
        <tr>
          <th></th>
          <th>Morning</th>
          <th>Afternoon</th>
          <th>Evening</th>
        </tr>
        <tr>
          <td>Mon</td>
          <td><input type="checkbox" ng-model="admin.search.avail.monday.morning" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.monday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.monday.evening" /></td>
        </tr>
        <tr>
          <td>Tue</td>
          <td><input type="checkbox" ng-model="admin.search.avail.tuesday.morning" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.tuesday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.tuesday.evening" /></td>
        </tr>
        <tr>
          <td>Wed</td>
          <td><input type="checkbox" ng-model="admin.search.avail.wednesday.morning"  /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.wednesday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.wednesday.evening" /></td>
        </tr>
        <tr>
          <td>Thu</td>
          <td><input type="checkbox" ng-model="admin.search.avail.thursday.morning"  /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.thursday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.thursday.evening" /></td>
        </tr>
        <tr>
          <td>Fri</td>
          <td><input type="checkbox" ng-model="admin.search.avail.friday.morning"  /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.friday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.friday.evening" /></td>
        </tr>
        <tr>
          <td>Sat</td>
          <td><input type="checkbox" ng-model="admin.search.avail.saturday.morning"  /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.saturday.afternoon" /></td>
          <td><input type="checkbox" ng-model="admin.search.avail.saturday.evening" /></td>
        </tr>
      </table>
      <div class="dropdown-select-all">
        <p style="font-size: .8em">Will list volunteers that match all of the times selected</p>
        <h5><button class="btn btn-default" ng-click="admin.clearSearchAvail()">Clear Selections</h5>
      </div>
    </div>
  </div>
  <div class="btn-group" uib-dropdown is-open="admin.statusDropdownOpen" auto-close="outsideClick">
    <button
      id="role-search"
      type="button"
      ng-class="{'btn-default': !admin.searchStatusActive, 'btn-primary': admin.searchStatusActive}"
      class="btn"
      uib-dropdown-toggle
      ng-disabled="disabled">
      Status <span class="caret"></span>
    </button>
    <ul class="dropdown-menu search-opp" uib-dropdown-menu aria-labelledby="single-button">
      <li><span class="search-radio-option"><input name="status" type="radio" ng-model="admin.search.status" value="all"> All</span></li>
      <li><span class="search-radio-option"><input name="status" type="radio" ng-model="admin.search.status" value="true"> Active</span></li>
      <li><span class="search-radio-option"><input name="status" type="radio" ng-model="admin.search.status" value="false"> Inactive</span></li>
    </ul>
  </div>
  <div class="btn-group" uib-dropdown is-open="admin.roleDropdownOpen" auto-close="outsideClick">
    <button
      id="role-search"
      type="button"
      ng-class="{'btn-default': !admin.searchRoleActive, 'btn-primary': admin.searchRoleActive}"
      class="btn"
      uib-dropdown-toggle
      ng-disabled="disabled">
      Role <span class="caret"></span>
    </button>
    <ul class="dropdown-menu search-opp" uib-dropdown-menu aria-labelledby="single-button">
      <li><span class="search-radio-option"><input name="role" type="radio" ng-model="admin.search.role" value="all"> All</span></li>
      <li><span class="search-radio-option"><input name="role" type="radio" ng-model="admin.search.role" value="isVolunteer"> Volunteer</span></li>
      <li><span class="search-radio-option"><input name="role" type="radio" ng-model="admin.search.role" value="isTrainee"> Trainee</span></li>
    </ul>
  </div>

  <div class="clear"></div>
</div>
<div class="col-sm-6">
  <h5>Sort:</h5>
  <button ng-class="{'btn-default': !(admin.sortOrder === 'lastName'), 'btn-primary': (admin.sortOrder === 'lastName')}" class="btn" ng-click="admin.sortBy('lastName')">
    Name <span class="sortorder" ng-show="(admin.sortOrder === 'lastName')" ng-class="{reverse: !admin.sortReverse}"></span>
  </button>
  <button ng-class="{'btn-default': !(admin.sortOrder === '-isActive'), 'btn-primary': (admin.sortOrder === '-isActive')}" class="btn" ng-click="admin.sortBy('-isActive')">
    Active <span class="sortorder" ng-show="(admin.sortOrder === '-isActive')" ng-class="{reverse: !admin.sortReverse}"></span>
  </button>
  <button ng-class="{'btn-default': !(admin.sortOrder === '-isVolunteer'), 'btn-primary': (admin.sortOrder === '-isVolunteer')}" class="btn" ng-click="admin.sortBy('-isVolunteer')">
    Volunteer/Trainee <span class="sortorder" ng-show="(admin.sortOrder === '-isVolunteer')" ng-class="{reverse: !admin.sortReverse}"></span>
  </button>
</div>
<div class="col-xs-12" style="margin: 10px 0">
  <input class="col-sm-12" type="text" ng-model="admin.search.input" placeholder="Search Volunteers">
</div>
<div class="col-xs-12">
  <div class="toggle-switch">
    Show Detail <switch off="No" on="Yes" ng-model="admin.expandDownAll" class="green"></switch>
  </div>
  <div class="toggle-switch">
    Show Availability <switch off="No" on="Yes" ng-model="admin.expandRightAll" class="green"></switch>
  </div>
  <div class="print-list">
    <a href="#" ng-click="admin.printDiv('print-volunteers')"><i class="fa fa-print fa-2x"></i></a>
  </div>
</div>

<!-- Start volunteer list -->
<div class="volunteers">
  <div
    class="volunteer"
    ng-repeat="volunteer in admin.volunteers | orderBy:[admin.sortOrder, admin.sortDefault, admin.sortLast]:admin.sortReverse | filter: admin.search.input | filter: admin.roleFilter | filter: admin.availableFilter | filter: admin.opportunityFilter | filter: admin.statusFilter"
    ng-click="admin.openProfile(volunteer._id)"
    >
    <div class="volunteer-card">
      <div class="trainee-mark" ng-if="volunteer.isTrainee">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <button class="btn btn-primary btn-xs" style="float: right" ng-click="admin.trainingComplete(volunteer)">Approve Trainee</button>
      </div>
      <div class="volunteer-photo">
        <img ng-if="volunteer.photo" ng-src="/photos/{{volunteer.photo}}"/>

        <i ng-if="!volunteer.photo" class="fa fa-user icon-image" aria-hidden="true"></i>
      </div>
      <div class="volunteer-info">
        <div class="volunteer-meta">
          <span class="volunteer-meta__header">Name:</span>
          {{volunteer.firstName}} {{volunteer.lastName}}
        </div>
        <div class="volunteer-meta">
          <span class="volunteer-meta__header">Email:</span>
          {{volunteer.email}}
        </div>
        <div class="volunteer-meta">
          <span class="volunteer-meta__header">Phone:</span>
          {{volunteer.phoneNumber | PhoneFormat}}
        </div>
      </div>
      <div class="volunteer-action">
        <div class="volunteer-meta">
          <span class="volunteer-meta__header">Active:</span>
          <span ng-click="admin.toggleActive(volunteer)">
            <switch off="No" on="Yes" ng-model="volunteer.isActive" class="green"></switch>
          </span>
          <div ng-if="!volunteer.isActive" class="inactive-reason">
            <span class="volunteer-meta__header">Reason:</span>
            <span class="inactive-message" ng-if="volunteer.inactiveMessage.length > 0">{{volunteer.inactiveMessage}}</span>
            <span class="inactive-message" ng-if="!volunteer.inactiveMessage.length > 0">N/A</span>
          </div>
        </div>
      </div>
    </div>
    <div class="volunteer-expanded__right" ng-class="{hide: !(volunteer.expandRight || admin.expandRightAll)}">
      <h5 class="volunteer-meta__header">Availability:</h5>
      <table class="table table-availability">
        <tr>
          <th></th>
          <th>Morning</th>
          <th>Afternoon</th>
          <th>Evening</th>
        </tr>
        <tr>
          <td>Mon</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.monday.morning" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.monday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.monday.evening" /></td>
        </tr>
        <tr>
          <td>Tue</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.tuesday.morning" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.tuesday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.tuesday.evening" /></td>
        </tr>
        <tr>
          <td>Wed</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.wednesday.morning"  /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.wednesday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.wednesday.evening" /></td>
        </tr>
        <tr>
          <td>Thu</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.thursday.morning"  /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.thursday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.thursday.evening" /></td>
        </tr>
        <tr>
          <td>Fri</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.friday.morning"  /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.friday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.friday.evening" /></td>
        </tr>
        <tr>
          <td>Sat</td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.saturday.morning"  /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.saturday.afternoon" /></td>
          <td><input type="checkbox" disabled ng-model="volunteer.isAvail.saturday.evening" /></td>
        </tr>
      </table>
    </div>
    <div class="volunteer-expanded__below" ng-class="{hide: !(volunteer.expandDown || admin.expandDownAll)}">
      <h5 class="volunteer-meta__header">Company:</h5>
      <span>{{volunteer.company}}</span>
      <h5 class="volunteer-meta__header">Last Appointment:</h5>
      <span>*INSERT DATE*</span>
      <h5 class="volunteer-meta__header">Opportunities:</h5>
      <span>
        <ul style="display: inline-block">
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.imageCoach">Image Coach</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.careerCoach">Career Coach</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.clothingSorter">Clothing Sorter</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.clothingOrganizer">Clothing Organizer</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.frontDesk">Front Desk Volunteer</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.clothingSale">Clothing Sale Volunteer</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.clothingSaleCaptain">Clothing Sale Captain</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.careerAdvocate">Career Advocate</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.intelligenceMentor">Intelligence Mentor</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.intelligenceMuse">Intelligence Muse</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.communityAmbassador">Community Ambassador</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.eventSetUp">Client Event Set Up Volunteer</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.photographer">Event Photographer</li>
          <li class="opportunity" ng-if="volunteer.volunteerOpportunities.graphicDesigner">Graphic Designer</li>
        </ul>
      </span>
    </div>
  </div>
</div>

<!-- PRINT VIEW -->
<div id="print-volunteers">
  <style>
    #print-volunteers {
      margin: 0 auto;
      /*width: 8in;*/
      display: none;
    }
    .print-volunteer-list {
      padding: 0;
    }

    .print-volunteer,
    .print-volunteer-list-headers {
      display: flex;
    }
    .print-name,
    .print-email,
    .print-name-header,
    .print-email-header {
      flex: 1 0;
      /*border: 1px solid rgba(0,0,0,.3);*/
    }

    .print-status-header,
    .print-role-header,
    .print-status,
    .print-role {
      flex: 0 10%;
      /*border: 1px solid rgba(0,0,0,.3);*/
      text-align: center;
    }

    .print-phone,
    .print-phone-spacer {
      flex: 0 auto;
      position: relative;
      /*border: 1px solid rgba(0,0,0,.3);*/
      white-space: nowrap;
    }

    .print-phone-header {
      position: absolute;
    }

    .print-name-header,
    .print-email-header,
    .print-phone-header,
    .print-status-header,
    .print-role-header {
      text-transform: uppercase;
      /*font-weight: bold;*/
    }

    .print-trainee {
      color: rgb(50,50,255);
    }

    .print-inactive {
      color: rgb(255,50,50);
    }
    .print-volunteer-list li {
      border-top: 1px solid rgba(0,0,0,.3);
    }
    .print-volunteer-list li:last-child {
      border-bottom: 1px solid rgba(0,0,0,.3);
    }
    .print-volunteer-list li:first-child {
      background-color: rgb(100,100,100);
      color: white;
    }
    .print-volunteer-list li:nth-child(2n+3) {
      background-color: rgb(240,240,240);
    }

    .print-volunteer-list li:first-child div {
      padding: 5px;
    }

    .print-volunteer-list li div {
      padding: 1px 5px;
      font-size: .9em;
      border-left: 1px solid rgba(0,0,0,.3);
    }
    .print-volunteer-list li div:last-child {
      border-right: 1px solid rgba(0,0,0,.3);
    }

    .print-container {
      /*padding: .25in;*/
    }


  </style>
  <div class="print-container">
    <h3 class="print-test">Dress for Success Twin Cities Volunteers</h3>
    <div class="print-inactive"> Red / [ ! ] - Volunteer is inactive</div>
    <div class="print-trainee"> Blue / [ * ] - Volunteer is a Trinee</div>
    <ul class="print-volunteer-list">
      <li class="print-volunteer-list-headers">
        <div class="print-name-header">Name</div>
        <div class="print-email-header">Email</div>
        <div class="print-phone-spacer"><span class="print-phone-header">Phone #</span><span style="color: transparent">{{5555555555 | PhoneFormat}}</span></div>
        <!-- <div class="print-status-header">Inactive</div>
        <div class="print-role-header">Trainee</div> -->
      </li>
      <li class="print-volunteer"
        ng-repeat="volunteer in admin.volunteers | orderBy:[admin.sortOrder, admin.sortDefault, admin.sortLast]:admin.sortReverse | filter: admin.search.input | filter: admin.roleFilter | filter: admin.availableFilter | filter: admin.opportunityFilter | filter: admin.statusFilter"
        ng-class="{'print-trainee': volunteer.isTrainee, 'print-inactive': !volunteer.isActive}">
        <div class="print-name">
          {{volunteer.firstName}} {{volunteer.lastName}}
          <span ng-if="!volunteer.isActive">[ ! ]</span>
          <span ng-if="volunteer.isTrainee">[ * ]</span>
        </div>
        <div class="print-email">
          {{volunteer.email}}
        </div>
        <div class="print-phone">
          {{volunteer.phoneNumber | PhoneFormat}}<span ng-if="!volunteer.phoneNumber" style="color: transparent">{{5555555555 | PhoneFormat}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<iframe id="print-frame" name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<!-- END PRINT VIEW -->


<button ng-click="admin.exportToExcel('volunteerTable')">Excel</button>
<table id="volunteerTable" style="display: none">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Active</th>
    <th>Trainee</th>
  </tr>
  <tr ng-repeat="volunteer in admin.volunteers | orderBy:[admin.sortOrder, admin.sortDefault, admin.sortLast]:admin.sortReverse | filter: admin.search.input | filter: admin.roleFilter | filter: admin.availableFilter | filter: admin.opportunityFilter | filter: admin.statusFilter">
    <td>{{volunteer.firstName}} {{volunteer.lastName}}</td>
    <td>{{volunteer.email}}</td>
    <td>{{volunteer.phoneNumber | PhoneFormat}}</td>
    <td>{{volunteer.isActive}}</td>
    <td>{{volunteer.isTrainee}}</td>
  </tr>
</table>
