<button class="btn btn-default" ui-sref="dashboard">back to dashboard</button>
<h1>Admin Controls</h1>

<div ui-view></div>

<div class="row accordion">
  <div class="col-sm-10 col-sm-offset-1">
    <div style="border: 1px solid #ddd; padding: 3px 0">
      <div class="col-xs-4">
        <div class="dropdown">
          <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search Volunteer Type
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li class="dropdown-select-all"><h5><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.all" ng-click="admin.selectAll()"> Select All </h5></li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.one"> One </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.two"> Two </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.three"> Three </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.four"> four </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.five"> five </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.six"> six </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.seven"> seven </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.eight"> eight </li>
          </ul>
        </div>
        Searching Volunteers for:
        <span class="selected-options" ng-repeat="(option, selected) in admin.options">
          <span ng-if="selected && (option != 'all')">{{option}}</span>
        </span>
      </div>

      <div class="col-xs-8">
        <div class="dropdown">
          <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search Volunteer Availability
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li class="dropdown-select-all"><h5><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.all" ng-click="admin.selectAll()"> Select All </h5></li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.one"> One </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.two"> Two </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.three"> Three </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.four"> four </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.five"> five </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.six"> six </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.seven"> seven </li>
            <li class="dropdown-option"><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="admin.options.eight"> eight </li>
          </ul>
        </div>
        Searching Volunteers for:
        <span class="selected-options" ng-repeat="(option, selected) in admin.options">
          <span ng-if="selected && (option != 'all')">{{option}}</span>
        </span>
      </div>

      <!-- <div> -->
      <div class="col-xs-4">
        <input class="col-sm-10 col-sm-offset-2" type="text" placeholder="Search Name">
      </div>
      <div class="col-xs-5">
        <input class="col-sm-10 col-sm-offset-2" type="text" placeholder="Search Email">
      </div>
      <div class="col-xs-3">
        <input class="col-sm-9 col-sm-offset-3" type="text" placeholder="Search Phone Number">
      </div>
      <div class="clear"></div>
      <!-- </div> -->
    </div>
  </div>
  <accordion class="col-sm-10 col-sm-offset-1">
    <div accordion-group class="panel-default" ng-repeat="volunteer in admin.volunteers">
      <accordion-heading>
        <div class="col-xs-4 volunteer-meta volunteer-name">
          <div class="col-md-2 info-head">Name:</div>
          <div class="col-md-10 info-data">{{::volunteer.firstName}} {{::volunteer.lastName}}</div>
        </div>
        <div class="col-xs-5 volunteer-meta volunteer-email">
          <div class="col-md-2 info-head">Email: </div>
          <div class="col-md-10 info-data">{{::volunteer.email}}</div>
        </div>
        <div class="col-xs-3 volunteer-meta volunteer-phone">
          <div class="col-md-3 info-head">Phone: </div>
          <div class="col-md-9 info-data">{{::volunteer.phoneNumber}}</div>
        </div>
        <div class="clear"></div>
      </accordion-heading>
      <div class="col-xs-12">
        <ul class="volunteer-sub-data">
          <div ng-if="volunteer.volunteerOpportunities">Opportunities: {{::volunteer.volunteerOpportunities}}</div>
          <div ng-if="volunteer.isAvail">Availability: {{::volunteer.isAvail}}</div>
          <div class="info-head__address" ng-if="volunteer.address">Address:</div>
          <ul class="info-address">
              <li>{{volunteer.address.addressOne}}<br />
                  {{volunteer.address.addressTwo}}
              </li>
              <li>{{volunteer.address.city}}</li>
              <li>{{volunteer.address.state}}</li>
              <li>{{volunteer.address.zip}}</li>
          </ul>
          <div class="clear"></div>
          <button ng-click="admin.openProfile(volunteer._id)">View</button>
        </ul>
      </div>
    </div>
  </accordion>
</div>

<!-- Profile Modal -->
<script type="text/ng-template" id="adminProfileModal.html">
  <div class="modal-header">
    <button class="pull-right btn btn-primary" ng-click="prof.editProfile()">Edit Profile</button>
    <h3 style="float: left" class="modal-title">Edit Volunteer - {{prof.profile.firstName}} {{prof.profile.lastName}}</h3>
  </div>
  <div class="row">
    <div class="modal-body">
      <div class="panel panel-default col-sm-10 col-sm-offset-1" style="padding: 20px">
        <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-3">E-mail address:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.email" placeholder="E-mail Address" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">First Name:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.firstName" placeholder="First Name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">Last Name:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.lastName" placeholder="Last Name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">Phone Number:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.phoneNumber" placeholder="Phone Number" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">Address:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.address.addressOne" placeholder="Address Line 1" />
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.address.addressTwo" placeholder="Address Line 2" />
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.address.city" placeholder="City" />
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.address.state" placeholder="State" />
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.address.zip" placeholder="Zip Code" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3">Volunteer positions you are interested in:</label>
              <div class="col-md-9">
                <div class="checkbox panel panel-default col-md-12" style="padding: 10px 30px">
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.imageCoach" /> Image Coach
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.careerCoach" /> Career Coach
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.clothingSorter" />Clothing Sorter
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.clothingOrganizer"  />Clothing Organizer
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.frontDesk" />Front Desk Volunteer
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.clothingSale" />Clothing Sale Volunteer
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.clothingSaleCaptain" />Clothing Sale Captain
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.careerAdvocate" />Career Advocate
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.intelligenceMentor" />Professional Intelligence Mentor
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.intelligenceMuse" />Professional Intelligence Muse
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.communityAmbassador" />Community Ambassador
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.eventSetUp" />Client Event Set Up Volunteer
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.photographer" />Event Photographer
                  </div>
                  <div>
                    <input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.volunteerOpportunities.graphicDesigner" />Graphic Designer
                  </div>
                </div>
              </div>
            </div>
            <label>Please select your availability:</label>
            <table class="table table-hover">
              <tr>
                <th>Time of Day</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
              <tr>
                <td>Morning</td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.monday.morning" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.tuesday.morning" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.wednesday.morning" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.thursday.morning" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.friday.morning" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.saturday.morning" /></td>
              </tr>
              <tr>
                <td>Afternoon</td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.monday.afternoon" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.tuesday.afternoon" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.wednesday.afternoon" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.thursday.afternoon" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.friday.afternoon" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.saturday.afternoon" /></td>
              </tr>
              <tr>
                <td>Evening</td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.monday.evening"  /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.tuesday.evening" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.wednesday.evening" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.thursday.evening" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.friday.evening" /></td>
                <td><input ng-disabled="!prof.isEditing" type="checkbox" ng-model="prof.profile.isAvail.saturday.evening" /></td>
              </tr>
            </table>
            <div class="form-group">
              <label class="col-md-3">Employer:</label>
              <div class="col-md-9">
                <input ng-disabled="!prof.isEditing" type="text" class="form-control" ng-model="prof.profile.company" placeholder="Company" />
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="prof.saveProfile(prof.profile)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="prof.cancel()">Cancel</button>
    </div>
  </div>
</script>
<!-- End Profile Modal -->

<!-- <div class="row">
  <div class="col-xs-12">
    <button ng-click="admin.editVolunteer()">Edit Volunteer</button><br />
    Email: <input ng-disabled="!prof.isEditing" ng-disabled="!admin.isEditing" type="text" ng-model="admin.editingVolunteer.email"><br />
    Phone: <input ng-disabled="!prof.isEditing" ng-disabled="!admin.isEditing" type="text" ng-model="admin.editingVolunteer.phoneNumber"><br />
    First Name: <input ng-disabled="!prof.isEditing" ng-disabled="!admin.isEditing" type="text" ng-model="admin.editingVolunteer.firstName"><br />
    Last Name: <input ng-disabled="!prof.isEditing" ng-disabled="!admin.isEditing" type="text" ng-model="admin.editingVolunteer.lastName"><br />
    Company: <input ng-disabled="!prof.isEditing" ng-disabled="!admin.isEditing" type="text" ng-model="admin.editingVolunteer.company"><br />
  <button ng-click="admin.saveEdit()">Save Edits</button>
  </div>
</div> -->
