<div class="col-xs-12">
  <h3>Admins</h3>
  <label>Email </label>
  <input ng-model="sa.newAdmin.email" type="text" /><br>
  <label>Password </label>
  <input ng-model="sa.newAdmin.password" type="text" /><br>
  <button ng-click="sa.addAdmin(sa.newAdmin)">Add Admin</button>
</div>

<div class="col-xs-12">
  <h6>Admins</h6>
  <ul style="list-style-type: none; padding: 0;">
    <li style="display: flex; justify-content: space-between; border: 1px solid rgba(0,0,0,.2); padding: 3px;" ng-repeat="user in sa.users" ng-if="user.isAdmin">
      {{user.email}}
      <button ng-click="sa.deleteUser(user._id)">Remove</button>
    </li>
  </ul>
  <h6>Volunteers</h6>
  <ul>
    <li ng-repeat="user in sa.users" ng-if="user.isVolunteer || user.isTrainee">
      {{user.email}}
      <button ng-click="sa.deleteUser(user._id)">Remove</button>
    </li>
  </ul>
  <h6>Clients</h6>
  <ul>
    <li ng-repeat="user in sa.users" ng-if="user.isClient">
      {{user.email}}
      <button ng-click="sa.deleteUser(user._id)">Remove</button>
    </li>
  </ul>
</div>
