<button class="btn btn-default" ui-sref="dashboard" style="position: absolute;">back to calendar</button>
<h3 style="text-align: center;">caseworker page</h3>

<input type="text" style="width: 100%; margin: 5px 0" ng-model="cw.search.inputVol" placeholder="Search Clients">
<ul class="user-list">
  <li class="user-list__headers">
    <span>Name</span>
    <span>Email</span>
    <span>Phone</span>
    <span>Action</span>
  </li>
  <li
    class="user-list__user"
    ng-repeat="client in cw.clients | filter: cw.search.inputVol | orderBy: 'lastName'"
    ng-click="cw.editClient(user)">
    <span>{{client.fullName}}</span>
    <span>{{client.email}}</span>
    <span>{{client.phoneNumber | PhoneFormat}}</span>
    <span>
      <button class="btn btn-danger btn-xs" ng-click="cw.dropClient(user._id)"><i class="fa fa-trash"></i> Drop</button>
    </span>
  </li>
</ul>

<button ng-click="cw.openRegisterClient()">Add Client</button>

<!-- Client Register Modal -->
<script type="text/ng-template" id="registerClient.html">

  <div class="modal-body">
    <div class="panel panel-default col-sm-10 col-sm-offset-1">
      <h3 class="center-block">Client Registration</h3>
      <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-3">E-mail address: <span style="display: block; font-size: 1rem; font-weight: normal;">(this will be your login username)</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.email" placeholder="E-mail Address" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Password:</label>
            <div class="col-md-9">
              <input type="password" class="form-control" ng-model="rc.registerUser.password" placeholder="Password" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">First Name:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.firstName" placeholder="First Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Last Name:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.lastName" placeholder="Last Name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Phone Number:</label>
            <div class="col-md-9">
              <input class="form-control" type="tel" ng-model="rc.registerUser.phoneNumber" ui-mask="(999) 999-9999" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Case Worker:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.caseWorker" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Alternate Contact Name:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.altContactName" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Alternate Contact Phone:</label>
            <div class="col-md-9">
              <input class="form-control" type="tel" ng-model="rc.registerUser.altContactPh" ui-mask="(999) 999-9999" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Alternate Contact Relationship:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.altContactRel"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Age:</label>
            <div class="col-md-9">
              <input class="form-control" type="number" ng-model="rc.registerUser.age"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Height:</label>
            <div class="col-md-9">
              <input class="form-control" type="number" ng-model="rc.registerUser.height"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Top Size:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.topSize"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Bottom Size:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.bottomSize"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Shoe Size:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.shoeSize"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Scheduling Restrictions:</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="rc.registerUser.restrictions"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Address:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.address.addressOne" placeholder="Address Line 1" />
              <input type="text" class="form-control" ng-model="rc.registerUser.address.addressTwo" placeholder="Address Line 2" />
              <input type="text" class="form-control" ng-model="rc.registerUser.address.city" placeholder="City" />
              <input type="text" class="form-control" ng-model="rc.registerUser.address.state" placeholder="State" />
              <input type="text" class="form-control" ng-model="rc.registerUser.address.zip" placeholder="Zip Code" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Employer:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.company" placeholder="Company" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Job Title:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" ng-model="rc.registerUser.jobTitle" placeholder="Company" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3">Please upload a photo of yourself: <br /> <em>Please keep your file under 4MB</em></label>
            <div class="col-md-9">
              <input
                  type="file"
                  ngf-select
                  ng-model="rc.registerUser.photo"
                  name="photo"
                  ngf-pattern="'image/*'"
                  accept="image/*"
                  ngf-max-size="4MB"
                  />
               Image thumbnail: <img style="width:100px;" ngf-thumbnail="rc.registerUser.photo || '/thumb.jpg'"/>
               <i ng-show="rc.registerUser.photo.$error.required">*required</i><br>
               <i ng-show="rc.registerUser.photo.$error.maxSize">File too large
               {{rc.registerUser.photo.size / 1000000|number:1}}MB: max 4M</i>
               <!-- <button type="submit" ng-click="rc.submit()">Submit</button> -->
               <!-- <p>{{rc.progress}} -->
            </div>
          </div>
      </form>
    </div>
    <div class="clear"></div>
  </div>

  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="rc.register(rc.registerUser)">Yes</button>
      <button class="btn btn-warning" type="button" ng-click="rc.cancel()">Cancel</button>
  </div>

</script>
<!-- End Client Register Modal  -->
