<h1>Dashboard!</h1>
<div class="calendar">

  <mwl-calendar
      events="dash.events"
      view="dash.calendarView"
      view-title="dash.calendarTitle"
      view-date="dash.viewDate"
      on-event-click="dash.eventClicked(calendarEvent)"
      on-event-times-changed="dash.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      cell-is-open="dash.isCellOpen"
      day-view-start="06:00"
      day-view-end="22:59"
      day-view-split="30"
      cell-modifier="dash.modifyCell(calendarCell)">
    </mwl-calendar>

</div>

  <div class="sidebar">sidebar</div>
  <div class="clear"></div>
</div>
