<!-- Add Appt modal -->
<script type="text/ng-template" id="addAppointmentModal.html">
  <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
    <h3 class="center-block">Add New Appointment</h3>
    <label>Appointment Title:</label>
    <input type="text" class="form-control" ng-model="dash.appointment.title" />

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="input-group" style="max-width: 250px">
              <input
                type="text"
                class="form-control"
                uib-datepicker-popup="{{dash.format}}"
                ng-model="dash.appointment.startsAt"
                is-open="dash.popup1.opened"
                datepicker-options="dash.dateOptions"
                ng-required="true"
                close-text="Close"
                alt-input-formats="dash.altInputFormats"
                placeholder="Start Date" />
              <span class="input-group-btn">
                <button type="button"
                  class="btn btn-default"
                  ng-click="dash.open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <div
              uib-timepicker
              ng-model="dash.appointment.startsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="true"
              class="col-md-6">
            </div>
          </td>
          <td>
            <p class="input-group" style="max-width: 250px">
              <input type="text"
                class="form-control"
                uib-datepicker-popup="{{dash.format}}"
                ng-model="dash.appointment.endsAt"
                is-open="dash.popup2.opened"
                datepicker-options="dash.dateOptions"
                ng-required="true"
                close-text="Close"
                alt-input-formats="dash.altInputFormats"
                placeholder="End Date" />
              <span class="input-group-btn">
                <button type="button"
                  class="btn btn-default"
                  ng-click="dash.open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
            <div
              uib-timepicker
              ng-model="dash.appointment.endsAt"
              hour-step="1"
              minute-step="15"
              show-meridian="true"
              class="col-md-6">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <label>Number of Volunteers Needed:</label>
    <input type="number" class="form-control" ng-model="dash.appointment.volunteerSlots" placeholder=5 />
    <label>Number of Possible Clients:</label>
    <input type="number" class="form-control" ng-model="dash.appointment.clientSlots" placeholder=5 />

    <label>Training Appointment?</label>
    <input type="checkbox" ng-model="dash.appointment.trainingAppointment" />
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(dash.addAppointment())" >Save Appointment</button>
    <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
  </div>
 </script>
<!-- end add appt modal -->

<!-- Add Announcement Modal -->
<script type="text/ng-template" id="addAnnouncementModal.html">
  <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
    <h3 class="center-block">Add New Announcements</h3>
    <label>Announcements Title:</label>
    <input type="text" class="form-control" ng-model="dash.announcement.title" />


    <label>Number of Volunteers Needed:</label>
    <textarea msd-elastic="<br>"  class="form-control" ng-model="dash.announcement.message"  />

    </textarea>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(dash.addAnnouncement())" >Save Announcement</button>
    <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
  </div>
 </script>
<!-- end Add Announcement Motal -->

<!-- edit/delete and claim/leave appointment modal form -->
<script type="text/ng-template" id="editAppointmentModal.html">
  <!-- admin edit/delete -->
  <div ng-if="edit.currentUser.user.isAdmin">
    <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
      <h3 class="center-block">Edit Appointment</h3>
      <label>Appointment Title:</label>
      <input type="text" class="form-control" ng-model="edit.editAppointment.event.title" />

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="input-group" style="max-width: 250px">
                <input
                  type="text"
                  class="form-control"
                  uib-datepicker-popup="{{edit.format}}"
                  ng-model="edit.editAppointment.event.startsAt"
                  is-open="edit.popup1.opened"
                  datepicker-options="edit.dateOptions"
                  ng-required="true"
                  close-text="Close"
                  alt-input-formats="edit.altInputFormats"
                  placeholder="Start Date" />
                <span class="input-group-btn">
                  <button type="button"
                    class="btn btn-default"
                    ng-click="edit.open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <div
                uib-timepicker
                ng-model="edit.editAppointment.event.startsAt"
                hour-step="1"
                minute-step="15"
                show-meridian="true"
                class="col-md-6">
              </div>
            </td>
            <td>
              <p class="input-group" style="max-width: 250px">
                <input type="text"
                  class="form-control"
                  uib-datepicker-popup="{{edit.format}}"
                  ng-model="edit.editAppointment.event.endsAt"
                  is-open="edit.popup2.opened"
                  datepicker-options="edit.dateOptions"
                  ng-required="true"
                  close-text="Close"
                  alt-input-formats="edit.altInputFormats"
                  placeholder="End Date" />
                <span class="input-group-btn">
                  <button type="button"
                    class="btn btn-default"
                    ng-click="edit.open2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <div
                uib-timepicker
                ng-model="edit.editAppointment.event.endsAt"
                hour-step="1"
                minute-step="15"
                show-meridian="true"
                class="col-md-6">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <label>Number of Volunteers Needed:</label>
      <input type="number" class="form-control" ng-model="edit.editAppointment.event.volunteerSlots" placeholder=5 />
      Current Volunteers:
      <ul>
        <li ng-repeat="volunteer in edit.editAppointment.event.volunteers track by $index">{{volunteer.firstName}} {{volunteer.lastName}}
        <button ng-click="edit.removeVolunteer($index, edit.editAppointment.event)">Remove from Appointment</button></li>
      </ul>
      <label>Number of Possible Clients:</label>
      <input type="number" class="form-control" ng-model="edit.editAppointment.event.clientSlots" placeholder=5 />

      <label>Training Appointment?</label>
      <input type="checkbox" ng-model="edit.editAppointment.event.trainingAppointment" />

    <button class="center-block btn btn-default" ng-click="$close(edit.deleteAppointment(edit.editAppointment.event))" >Delete Appointment</button>
    <button class="center-block btn btn-default" ng-click="$close(edit.updateAppointment(edit.editAppointment.event))" >Save Changes</button>
    <button class="center-block btn btn-default" ng-click="$close()" >Cancel</button>

    </div>
  </div>

  <!-- volunteer claim/remove form -->
  <div ng-if="edit.currentUser.user.isVolunteer">
    <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
      <h3 class="center-block">{{edit.editAppointment.event.title}} - {{edit.editAppointment.event.startsAt | date: "shortDate"}}</h3>
      <br>
      Starts At: <h4>{{edit.editAppointment.event.startsAt | date: "shortTime"}}</h4>
      <br>
      Ends At: <h4>{{edit.editAppointment.event.endsAt | date: "shortTime"}}</h4>

    <button class="center-block btn btn-default" ng-if="edit.editAppointment.event.color.primary!='#1e90ff'" ng-click="$close(edit.claimAppointment(edit.editAppointment.event))" >Claim Appointment</button>
    <button class="center-block btn btn-default" ng-if="edit.editAppointment.event.color.primary=='#1e90ff'" ng-click="$close(edit.removeMe(edit.editAppointment.event))" >Delete Appointment</button>

    <button class="center-block btn btn-default" ng-click="$close()" >Cancel</button>

    </div>
  </div>

</script>
<!-- end edit/delete modal -->

<div class="row">
  <div class="col-lg-8 calendar">
    <h2 class="text-center">{{ dash.calendarTitle }}</h2>
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="dash.viewDate"
          decrement="dash.calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="dash.viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="dash.viewDate"
          increment="dash.calendarView">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="dash.calendarView" uib-btn-radio="'year'">Year</label>
        <label class="btn btn-primary" ng-model="dash.calendarView" uib-btn-radio="'month'">Month</label>
        <label class="btn btn-primary" ng-model="dash.calendarView" uib-btn-radio="'week'">Week</label>
        <label class="btn btn-primary" ng-model="dash.calendarView" uib-btn-radio="'day'">Day</label>
      </div>
    </div>
    <div class="col-xs-12">
      <mwl-calendar
      events="dash.showAppointments.appointments"
      view="dash.calendarView"
      view-title="dash.calendarTitle"
      view-date="dash.viewDate"
      on-event-click="dash.eventClicked(calendarEvent)"
      on-event-times-changed="dash.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      cell-is-open="dash.isCellOpen"
      day-view-start="06:00"
      day-view-end="22:59"
      day-view-split="30"
      cell-modifier="dash.modifyCell(calendarCell)">
      </mwl-calendar>
    </div>
  </div>
  <div class="col-lg-4 sidebar">
    <h2 class="text-center">Sidebar</h2>
    <uib-tabset class="admin-menu">
      <uib-tab heading="Appointments Selected">
        <ul class="sidebar-list">
          <li ng-repeat="appointment in dash.myAppointments.scheduled" ng-click="dash.eventClicked(appointment)"><a>{{appointment.startsAt | date: "shortDate"}} - {{appointment.title}}, {{appointment.startsAt | date: "shortTime"}}</a></li>
        </ul>
      </uib-tab>
      <uib-tab heading="High Priority Appts">
        <ul class="sidebar-list">
          <li ng-repeat="appointment in dash.highPriority" ng-click="dash.eventClicked(appointment)"><a>{{appointment.startsAt | date: "shortDate"}} - {{appointment.title}}, {{appointment.startsAt | date: "shortTime"}}</a></li>
        </ul>
      </uib-tab>
    </uib-tabset>

  </div>
</div>

<button class="center-block btn btn-default" ng-if="main.currentUser.isAdmin" ng-click="dash.addAppointmentModal()" >Add Appointment</button>
<div class="">
  <h3>Announcements:</h3>
  <h4>Title</h4>
  <p ng-bind="dash.Ann.title">
  </p>

  <h4>Date:</h4>
  <p ng-bind="dash.Ann.date"></p>

  <h4>Message:</h4>
  <p>
    <pre>
      {{dash.Ann.message}}
    </pre>
  </p>

</div>
<button class="center-block btn btn-default" ng-if="main.currentUser.isAdmin" ng-click="dash.addAnnouncementModal()" >Add Announcement</button>
