<button ng-if="main.currentUser.isAdmin" class="btn btn-default" ui-sref="admin">Admin Control</button>
<button ng-if="main.currentUser" class="btn btn-default" ng-click="dash.openProfile()">Profile</button>
<h1>Dashboard!</h1>
<div class="calendar">

  <mwl-calendar
      events="dash.events"
      view="dash.calendarView"
      view-title="dash.calendarTitle"
      view-date="dash.viewDate"
      on-event-click="dash.eventClicked(calendarEvent)"
      on-event-times-changed="dash.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      cell-is-open="dash.isCellOpen"
      day-view-start="06:00"
      day-view-end="22:59"
      day-view-split="30"
      cell-modifier="dash.modifyCell(calendarCell)">
    </mwl-calendar>

</div>
