<div class=" center-block panel panel-default row">
<img class="center-block" src="../images/DFS_TwinCities-resized.jpg"/>
</div>
<div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
<h2 class="text-center">Login Here</h2>
<input type="text" class="form-control" ng-model="main.loginUser.email" placeholder="E-mail Address" />
<input type="text" class="form-control" ng-model="main.loginUser.password" placeholder="Password" />
<button ng-click="main.login()" class="center-block btn btn-default">Login</button>
<hr />
<h4 class="text-center"><em>Dress for Success Twin Cities</em> empowers women to achieve economic independence by providing a network of support, professional attire
  and the development tools for help women thrive in work and in life.
  <br />
  We offer high touch, high impact career and workplace skills development programs for low income women to help them achieve career
  advancement, career stability and economic sustainability.</h4>
  <br />
  <h4 class="text-center"> Would you like to help make the Twin Cities a better place?</h4>
<button class="center-block btn btn-default">Register Now!</button>
<a ui-sref="register">Register Now!</a>
<br />
</div>
