
<div class="panel panel-default col-md-8 col-md-offset-2">
<h2 class="text-center">Login Here</h2>
<input type="text" class="form-control" ng-model="main.loginUser.email" placeholder="E-mail Address" />
<input type="password" class="form-control" ng-model="main.loginUser.password" placeholder="Password" />
<button ng-click="main.login()" class="center-block btn btn-default">Login</button>
<hr />
<h4 class="text-center"><em>Dress for Success Twin Cities</em> empowers women to achieve economic independence by providing a network of support, professional attire
  and the development tools for help women thrive in work and in life.
  <br />
  We offer high touch, high impact career and workplace skills development programs for low income women to help them achieve career
  advancement, career stability and economic sustainability.</h4>
  <br />
  <h4 class="text-center"> Would you like to help make the Twin Cities a better place?</h4>
<button class="center-block btn btn-default" ui-sref="register">Register Now!</button>

<br />
</div>
