<!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <img style="width: 100%; max-width: 500px" class="center-block " src="../images/DFS_TwinCities-resized.jpg"/>
  </div>
</div> -->
<hr />
<div class="clear">
  <a ui-sref="/">Back</a>
</div>
<div class="panel panel-default col-sm-8 col-sm-offset-2">
  <h3 class="center-block">Register to Volunteer</h3>
  <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3">E-mail address: <span style="display: block; font-size: 1rem; font-weight: normal;">(this will be your login username)</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="main.registerUser.email" placeholder="E-mail Address" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Password:</label>
        <div class="col-md-9">
          <input type="password" class="form-control" ng-model="main.registerUser.password" placeholder="Password" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">First Name:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="main.registerUser.firstName" placeholder="First Name" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Last Name:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="main.registerUser.lastName" placeholder="Last Name" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Phone Number:</label>
        <div class="col-md-9">
          <input class="form-control" type="tel" ng-model="main.registerUser.phoneNumber" ui-mask="(999) 999-9999" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Address:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="main.registerUser.address.addressOne" placeholder="Address Line 1" />
          <input type="text" class="form-control" ng-model="main.registerUser.address.addressTwo" placeholder="Address Line 2" />
          <input type="text" class="form-control" ng-model="main.registerUser.address.city" placeholder="City" />
          <input type="text" class="form-control" ng-model="main.registerUser.address.state" placeholder="State" />
          <input type="text" class="form-control" ng-model="main.registerUser.address.zip" placeholder="Zip Code" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Volunteer positions you are interested in:</label>
        <div class="col-md-9">
          <div class="checkbox panel panel-default col-md-12" style="padding: 10px 30px">
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.imageCoach" /> Image Coach
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Image Coach</span>
                  Work one-on-one with a Dress for Success Twin Cities client in our boutique to help her select her professional attire and to provide support and encouragement as she prepares for her interview or starts a new job. Appointments take place Tuesday, Wednesday and Saturday’s with a variety of daytime, afternoon and some evening slots.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.careerCoach" /> Career Coach
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Career Coach</span>
                  Work one-on-one with a Dress for Success Twin Cities client in our Career Center. Help draft and review resumes, draft and review cover letters, set up or maintain linked-in profiles, conduct mock-interviews and strategize job searches. Appointments take place Tuesday, Thursdays and Saturdays with a variety of day time, afternoon and some evening slots.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.clothingSorter" />Clothing Sorter
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Clothing Sorter</span>
                  Process incoming clothing donations and help to decide what items are appropriate to keep for our boutique. Great for someone with an eye for fashion and a love of keeping up with current trends and styles.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.clothingOrganizer"  />Clothing Organizer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Clothing Organizer</span>
                  A great opportunity for people who love to organize. Hang, organize and place donations on the boutique floor. Help ensure donations look great and are easy to access.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.frontDesk" />Front Desk Volunteer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Front Desk Volunteer</span>
                  Help to ensure that Dress for Success Twin Cities is a warm and welcoming place to all clients and volunteers. Help run the front desk; answer phones, greet clients and volunteers, and assist with clothing donation drop offs. We ask that Front Desk Volunteers commit to a regular weekly shift of 3-4 hours.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.clothingSale" />Clothing Sale Volunteer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Clothing Sale Volunteer</span>
                  Assist shoppers in putting together outfits, manage fitting rooms and help keep the floor organized. Clothing sales are held four times a year on Thursdays, Fridays & Saturdays. Shifts are 3 hours long. A great opportunity to invite a friend along or do with a small group.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.clothingSaleCaptain" />Clothing Sale Captain
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Clothing Sale Captain</span>
                  Work closely with the Volunteer & Communication Coordinator to plan and execute 4 yearly clothing sales. Great for someone who loves project based work and has an interest or experience in retail or visual merchandising as well as event marketing. This is a yearlong commitment.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.careerAdvocate" />Career Advocate
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Career Advocate</span>
                  Support a woman through our Interview Skills Program, The Goings Places Network by Walmart Foundation. Connect with your mentee via phone or email once a week, for 10 weeks. Encourage and inspire her during her job search.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.intelligenceMentor" />Professional Intelligence Mentor
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Professional Intelligence Mentor</span>
                  Support a woman through our Job Retention Program, Professional Intelligence. Meet twice a month with your mentee, once in person and once remotely to help support them through their work plan. You will provide guidance and support for 8 months. Mentors should have 10 years in their field and management experience.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.intelligenceMuse" />Professional Intelligence Muse
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Professional Intelligence Muse</span>
                  Provide encouragement to a women participating in our Job Retention Program, Professional Intelligence. Mail an encouraging note or card each week as she completes 6 months of classroom learning. Great for someone who loves quotes and providing inspiration!
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.communityAmbassador" />Community Ambassador
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Community Ambassador</span>
                  Represent Dress for Success Twin Cities at community events designed to increase our awareness. Help to spread the message of Dress for Success Twin Cities to potential clients and volunteers. This is a longer volunteer commitment.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.eventSetUp" />Client Event Set Up Volunteer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Client Event Set Up Volunteer</span>
                  Help to prepare for client events and meetings. Help to prepare name tags, food, arrange the space, greet clients and more. Perfect for someone who loves to host and entertain! Many client events take place on weekday evenings.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.photographer" />Event Photographer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Event Photographer</span>
                  Photograph graduation ceremonies for two of our programs, providing documentation and a special keepsake for our clients. We host four Interview skills graduations that take place during the week day and two Job Retention graduations that take place during the weekends. Dates are TBD.
                </p>
              </span>
            </div>
            <div>
              <input type="checkbox" ng-model="main.registerUser.volunteerOpportunities.graphicDesigner" />Graphic Designer
              <span class="learn-more"><i class="fa fa-question-circle"></i>
                <p class="learn-more-box">
                  <span class="learn-more-header">Graphic Designer</span>
                  Help to re-imagine and redesign the clothing sale visual identity.  Materials to be updated include price signs, fliers and more.
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <label>Please select your availability:</label>
      <table class="table table-hover">
        <tr>
          <th>Time of Day</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
        <tr>
          <td>Morning <em>8am-12pm</em></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.monday.morning" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.tuesday.morning" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.wednesday.morning" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.thursday.morning" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.friday.morning" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.saturday.morning" /></td>
        </tr>
        <tr>
          <td>Afternoon <em>12pm-5pm</em></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.monday.afternoon" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.tuesday.afternoon" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.wednesday.afternoon" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.thursday.afternoon" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.friday.afternoon" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.saturday.afternoon" /></td>
        </tr>
        <tr>
          <td>Evening <em>5pm-9pm</em></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.monday.evening"  /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.tuesday.evening" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.wednesday.evening" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.thursday.evening" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.friday.evening" /></td>
          <td><input type="checkbox" ng-model="main.registerUser.isAvail.saturday.evening" /></td>
        </tr>
      </table>
      <div class="form-group">
        <label class="col-md-3">Employer:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" ng-model="main.registerUser.company" placeholder="Company" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3">Please upload a photo of yourself: <br /> <em>Please keep your file under 4MB</em></label>
        <div class="col-md-9">
          <input
              type="file"
              ngf-select
              ng-model="main.registerUser.photo"
              name="photo"
              ngf-pattern="'image/*'"
              accept="image/*"
              ngf-max-size="4MB"
              />
           Image thumbnail: <img style="width:100px;" ngf-thumbnail="main.registerUser.photo || '/thumb.jpg'"/>
           <i ng-show="main.registerUser.photo.$error.required">*required</i><br>
           <i ng-show="main.registerUser.photo.$error.maxSize">File too large
           {{main.registerUser.photo.size / 1000000|number:1}}MB: max 4M</i>
           <!-- <button type="submit" ng-click="main.submit()">Submit</button> -->
           <!-- <p>{{main.progress}} -->
        </div>
      </div>
    <button class="center-block btn btn-default" ng-click="main.register('trainee')" >Register Now!</button>
  </form>
</div>
