<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <img class="center-block" src="../images/DFS_TwinCities-resized.jpg"/>
    <hr />
    <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
      <h3 class="center-block">Register to Volunteer</h3>
      <input type="text" class="form-control" ng-model="main.registerUser.email" placeholder="E-mail Address" />
      <input type="text" class="form-control" ng-model="main.registerUser.password" placeholder="Password" />
      <br />
      <input type="text" class="form-control" ng-model="main.registerUser.firstName" placeholder="First Name" />
      <input type="text" class="form-control" ng-model="main.registerUser.lastName" placeholder="Last Name" />
      <br />
      <input type="text" class="form-control" ng-model="main.registerUser.phoneNumber" placeholder="Phone Number" />
      <br />
      <input type="text" class="form-control" ng-model="addressOne" placeholder="Address Line 1" />
      <input type="text" class="form-control" ng-model="addressTwo" placeholder="Address Line 2" />
      <input type="text" class="form-control" ng-model="city" placeholder="City" />
      <input type="text" class="form-control" ng-model="state" placeholder="State" />
      <input type="text" class="form-control" ng-model="zipcode" placeholder="Zip Code" />
      <br />
      <div class="checkbox panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
        <label>Volunteer Positions Interested In:</label>
        <br />
        <input type="checkbox" ng-model="imageCoach" />Image Coach
        <br />
        <input type="checkbox" ng-model="careerCoach" />Career Coach
        <br />
        <input type="checkbox" ng-model="clothingSorter" />Clothing Sorter
        <br />
        <input type="checkbox" ng-model="clothingOrganizer"  />Clothing Organizer
        <br />
        <input type="checkbox" ng-model="frontDesk" />Front Desk Volunteer
        <br />
        <input type="checkbox" ng-model="clothingSale" />Clothing Sale Volunteer
        <br />
        <input type="checkbox" ng-model="clothingSaleCaptain" />Clothing Sale Captain
        <br />
        <input type="checkbox" ng-model="careerAdvocate" />Career Advocate
        <br />
        <input type="checkbox" ng-model="intelligenceMentor" />Professional Intelligence Mentor
        <br />
        <input type="checkbox" ng-model="intelligenceMuse" />Professional Intelligence Muse
        <br />
        <input type="checkbox" ng-model="communityAmbassador" />Community Ambassador
        <br />
        <input type="checkbox" ng-model="eventSetUp" />Client Event Set Up Volunteer
        <br />
        <input type="checkbox" ng-model="photographer" />Event Photographer
        <br />
        <input type="checkbox" ng-model="graphicDesigner" />Graphic Designer
      </div>
      <br />
      <div class="col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
      <p>
        <em>Please select your availability:</em>
      </p>
    </div>
      <table class="table table-hover">
  <tr>
    <th>Time of Day</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>Morning</td>
    <td><input type="checkbox" ng-model="mondayMorning" /></td>
    <td><input type="checkbox" ng-model="tuesdayMorning" /></td>
    <td><input type="checkbox" ng-model="wednesdayMorning" /></td>
    <td><input type="checkbox" ng-model="thursdayMorning" /></td>
    <td><input type="checkbox" ng-model="fridayMorning" /></td>
    <td><input type="checkbox" ng-model="saturdayMorning" /></td>
  </tr>
  <tr>
    <td>Afternoon</td>
    <td><input type="checkbox" ng-model="mondayAfternoon" /></td>
    <td><input type="checkbox" ng-model="tuesdayAfternoon" /></td>
    <td><input type="checkbox" ng-model="wednesdayAfternoon" /></td>
    <td><input type="checkbox" ng-model="thursdayAfternoon" /></td>
    <td><input type="checkbox" ng-model="fridayAfternoon" /></td>
    <td><input type="checkbox" ng-model="saturdayAfternoon" /></td>
  </tr>
  <tr>
    <td>Evening</td>
    <td><input type="checkbox" ng-model="mondayEvening"  /></td>
    <td><input type="checkbox" ng-model="tuesdayEvening" /></td>
    <td><input type="checkbox" ng-model="wednesdayEvening" /></td>
    <td><input type="checkbox" ng-model="thursdayEvening" /></td>
    <td><input type="checkbox" ng-model="fridayEvening" /></td>
    <td><input type="checkbox" ng-model="saturdayEvening" /></td>
  </tr>
      </table>
      <input type="text" class="form-control" ng-model="companies" placeholder="Companies" />
      <input type="text" class="form-control" ng-model="groups" placeholder="Group Name" />

      <button class="center-block btn btn-default" ng-click="register()" >Register Now!</button>




    </div>
  </body>
</html>
