<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <img class="center-block" src="../images/DFS_TwinCities-resized.jpg"/>
    <hr />
    <div class="panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
      <h3 class="center-block">Register to Volunteer</h3>
      <input type="text" class="form-control" placeholder="E-mail Address" />
      <input type="text" class="form-control" placeholder="Password" />
      <br />
      <input type="text" class="form-control" placeholder="First Name" />
      <input type="text" class="form-control" placeholder="Last Name" />
      <br />
      <input type="text" class="form-control" placeholder="Phone Number" />
      <br />
      <input type="text" class="form-control" placeholder="Address Line 1" />
      <input type="text" class="form-control" placeholder="Address Line 2" />
      <input type="text" class="form-control" placeholder="City" />
      <input type="text" class="form-control" placeholder="State" />
      <input type="text" class="form-control" placeholder="Zip Code" />
      <br />
      <div class="checkbox panel panel-default col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3 p-a-3">
        <label>Volunteer Positions Interested In:</label>
        <br />
        <input type="checkbox" />Image Coach
        <br />
        <input type="checkbox" />Career Coach
        <br />
        <input type="checkbox" />Clothing Sorter
        <br />
        <input type="checkbox" />Clothing Organizer
        <br />
        <input type="checkbox" />Front Desk Volunteer
        <br />
        <input type="checkbox" />Clothing Sale Volunteer
        <br />
        <input type="checkbox" />Clothing Sale Captain
        <br />
        <input type="checkbox" />Career Advocate
        <br />
        <input type="checkbox" />Professional Intelligence Mentor
        <br />
        <input type="checkbox" />Professional Intelligence Muse
        <br />
        <input type="checkbox" />Community Ambassador
        <br />
        <input type="checkbox" />Client Even Set Up Volunteer
        <br />
        <input type="checkbox" />Event Photographer
        <br />
        <input type="checkbox" />Graphic Designer
      </div>
      <table class="table table-hover">
        <th>Please Select Your Availability</th>
        <hr />
        <label>Morning</label>
        <hr />
        <label>Afternoon</label>
        <hr />
        <label>Evenings</label>
      </table>






    </div>
  </body>
</html>
