.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 1px solid yellow;
}

.calendar {
  display: inline-block;
  float: left;
  left: 0;
  height: 200px;
  width: 60%;
  border: 1px solid rgba(255,0,0,.5);
}

.sidebar {
  float: right;
  right: 0;
  display: inline-block;
  width: 20%;
  height: 200px;
  border: 1px solid rgba(0,255,0,.5);
}

.clear {
  /*float: left;*/
  clear: both;
}

input:disabled {
  border-color: transparent;
}
