.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 1px solid yellow;
}

.calendar {
  display: inline-block;
  float: left;
  left: 0;
  /*height: 200px;*/
  width: 60%;
  border: 1px solid rgba(255,0,0,.5);
}

.sidebar {
  float: right;
  right: 0;
  display: inline-block;
  width: 250px;
  height: 200px;
  border: 1px solid rgba(0,255,0,.5);
}

.clear {
  clear: both;
}

/*input:disabled {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}*/

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.volunteers > li {
  list-style-type: none;
}

.dropdown-select-all {
  /*padding: 0 15px;*/
  margin: 5px auto;
  text-align: center;
  border-top: 1px solid rgb(220,220,220);
}

.dropdown-option {
  padding: 0 15px;
}

.info-head {
  text-transform: uppercase;
  font-size: .9rem;
  color: rgb(150,150,150);
}

.info-data {
  font-size: .8em;
}

.info-head__address {
  float: left;
}

.info-address {
  float: left;
  list-style-position: inside;
  list-style-type: none;
}

.accordion .panel-body, .panel-heading {
  padding: 3px 0px;
}

.accordion .panel-default>.panel-heading {
  background-image: none;
  border-top-left-radius: 0;
}

/* Zebra stripe setting on volunteer list in admin panel */
.accordion .panel-default:nth-child(2n)>.panel-heading {
  background-color: rgb(230,230,230);
}

.accordion .panel-group .panel+.panel {
  margin-top: 0;
}

.accordion .panel-group .panel {
  border-radius: 0;
}

ul.volunteers, ul.volunteer-sub-data {
  padding-left: 16px;
}

.profile:disabled {
  border-color: transparent;
}

.search-avail {
  width: 400px;
  padding: 10px 15px 0;
}

.search-opp {
  width: 300px;
  padding: 10px 15px 0;
}

.search-day {
  display: inline-block;
  width: 120px;
}

.search-day ul {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}
