.font{
font-family: 'Oxygen', sans-serif;
}
.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 1px solid yellow;
}

.form-group label {
  line-height: 34px;
}

.admin-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 5px 0 10px;
}

.menu-control {
  position: relative;
}

.menu-button {
  display: inline-block;
  overflow: hidden;
  cursor: pointer
}

.user-menu {
  display: block;
  z-index: 5;
  padding: 5px 10px 10px;
  background-color: rgb(245,245,245);
  border: 1px solid rgba(100,100,100,.1);
  -webkit-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.22);
  -moz-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.22);
  box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.22);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  transform: translate(0, 100%);
}
.user-menu .btn-menu-main {
  display: block;
  clear: right;
  float: right;
  margin: 2px 0;
}

.user-menu .menu-action-bottom {
  display: block;
  clear: both;
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}

.user-menu .user-image {
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  clear: both;
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  overflow: hidden;
  text-align: center;
  line-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/*.user-menu .user-image img {
  display: block;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}*/

.image-responsive {
  width: 100%;
}

.icon-modal {
  font-size: 10em;
  width: 100%;
  padding: 20px 0;
  border: 1px solid rgba(50,50,50,.1);
  text-align: center;
  border-radius: 5px;
}

.profile-control-header {
  margin: 0;
  padding: 5px 0;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid rgb(200,200,200);
}

.announcement-message {
  margin: 10px 0 0;
  padding: 0 5px;
}

.profile-menu .profile-image-default {
  display: block;
  clear: both;
  float: left;
}


.hide {
  display: none;
}

.search-avail {
  width: 400px;
  padding: 10px 15px 0;
}

.search-opp {
  width: 300px;
  padding: 10px 15px 0;
}

.search-day {
  display: inline-block;
  width: 120px;
}

.search-day ul {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}

.dropdown-select-all {
  /*padding: 0 15px;*/
  margin: 5px auto;
  text-align: center;
  border-top: 1px solid rgb(220,220,220);
}

.dropdown-option {
  padding: 0 15px;
}

.search-radio-list {
  display: inline-block;
  float: left;
  margin: 0 10px 10px 0;
}
.search-radio-option {
  display: block;
}

.toggle-switch {
  float: right;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 0 0;
  background-color: rgb(240,240,240);
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.previous-company-list {
  padding-left: 30px;
}
.previous-company {
  margin: 3px;
}

.animate:focus {
      -webkit-transition: height 50ms ease-in-out;
         -moz-transition: height 50ms ease-in-out;
           -o-transition: height 50ms ease-in-out;
              transition: height 50ms ease-in-out;
    }

.sidebar-list {
  padding-top: 20px;
}

.clear {
  clear: both;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, span.form-control {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}

.active-switch {
  float: right;
  font-size: .8em;
}

.profile:disabled {
  border-color: transparent;
}

/* volunteer list styles */
.volunteers {
  clear: both;
  padding: 10px 0;
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.volunteer {
  flex: 0 auto;
  /*min-width: 220px;*/
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}

.volunteer:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0,0,200,.5);
}



.volunteer-card {
  position: relative;
  float: left;
  width: 200px;
}

.volunteer-expanded__right {
  float: left;
  padding: 0 10px;
  text-align: left;
}

.volunteer-expanded__below ul {
  /*width: 100%;*/
  /*max-width: 180px;*/
  padding: 0 10px;
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

@media (max-width: 450px) {
  .volunteer-expanded__right {
    font-size: .75em;
    padding: 0 5px;
  }
  .volunteer {
    font-size: .9em;
  }

  .volunteer-card {
    width: 160px;
  }
}
.volunteer-expanded__below {
  /*width: 200px;*/
  /*border: 1px solid green;*/
  clear: both;
  text-align: center;
  /*overflow: hidden;*/
  /*float: left;*/
}

.volunteer-expanded .form-group {
  margin-bottom: 0;
}

.table {
  text-align: center;
}

.table th {
  text-align: center;
}

.table-availability {
  /*width: 200px;*/
  /*clear: left;*/
  font-size: .7em;
}

.table>tbody>tr>th {
  padding: 2px;
}

.table input[type=checkbox] {
  margin: 0;
}

.table>tbody>tr>td {
  line-height: 1;
}

.form-control.form-expand {
  height: auto;
}

.form-control.form-expand ul {
  padding: 0 15px;
}

.volunteer-card {
  padding: 0 0 10px;
}

.volunteer-photo,
.user-image {
  position: relative;
  height: 150px;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.volunteer-photo {
  opacity: .75;
  -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    transition: all 0.5s ease;
}

.volunteer-photo i {
  opacity: .75;
}

.volunteer:hover .volunteer-photo,
.volunteer:hover .volunteer-photo i  {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  transition: all 0.5s ease;
}

.icon-image {
  font-size: 10rem;
  transform: translateY(25%);
}


.volunteer-info, .volunteer-action {
  padding: 0 10px;
  margin: 0;
  text-align: left;
}

.volunteer-meta__header {
  text-transform: uppercase;
  font-size: .7em;
  color: rgb(150,150,150);
}

.active-switch-modal {
  clear: both;
}

.inactive-message {
  font-style: italic;
}

.inactive-message-input {
  width: 100%;
  margin: 5px 0;
  padding: 0 5px;
  resize: none;
  border-color: rgb(220,220,220);
}

.inactive-message-input[disabled] {
  border-color: transparent;

}

.trainee-mark {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2px 5px;
  background-color: rgba(255,255,255,.8);
  color: blue;
  z-index: 3;
  text-align: left;
}

.volunteer input[type=checkbox][disabled] {
  cursor: inherit;
}

/* END VOLUNTEER LIST */

.photo-action {
  text-align: right;
  padding: 3px 5px;
  border-left: 1px solid rgb(225,225,225);
  border-right: 1px solid rgb(225,225,225);
  border-bottom: 1px solid rgb(225,225,225);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* SwITCH STYLES */

.switch {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 47px;
  height: 15px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: 4px;
  cursor: ew-resize;
}
/*adding a wide width for larger switch text*/
.switch.wide {
  width:80px;
}
.switch small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switch.checked {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
}
.switch.checked small {
  left: 32px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
  left:52px;
}
/*styles for switch-text*/
.switch .switch-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
}

.switch .off {
  display:block;
  position: absolute;
  right: 11%;
  top: 1px;
  z-index: 0;
  color:#A9A9A9;
}

.switch .on {
  display:none;
   z-index: 0;
  color:#fff;
  position: absolute;
  top: 1px;
  left: 10%;
}

.switch.checked .off {
  display:none;
}

.switch.checked .on {
  display:block;

}

.modal-header{
  text-overflow: ellipsis;
  overflow: hidden;
}
/* END SWITCH STYLES */


/* PRINT STYLES */

.print-list {
  float: right;
  padding: 7px 10px;
}

.print-list a {
  color: black;
}

.print-list a:hover {
  text-decoration: none;
  color: rgb(100,100,100);
}

.learn-more {
  position: relative;
  cursor: help;
}

.learn-more-box {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 300px;
  padding: 10px;
  background-color: rgb(240,240,240);
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  z-index: 3;
}

.learn-more:hover .learn-more-box {
  display: block;
}

.learn-more-header {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: rgb(130,130,130);
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin-bottom: 5px;
  padding: 0 0 5px;
}

pre{
  background-color: #FFFFFF;
  text-overflow: clip;
}

.nav {
  text-align: center;
}
.nav-pills>li {
  float: none;
  display: inline-block;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list__user,
.user-list__headers {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 1px 5px;
}



.user-list__headers {
  text-transform: uppercase;
  font-size: .85em;
  color: rgb(240,240,240);
  background-color: rgb(120,120,120);
  padding: 5px 5px;
}

.user-list__user:nth-of-type(2n+1) {
  background-color: rgb(240,240,240);
}

.user-list__user:hover {
  background-color: rgb(220,220,220);
  cursor: pointer;
}

.user-list__user span, .user-list__headers span {
  display: block;
  /*border: 1px solid red;*/
  flex: 1 0;
}

.user-list__user span:last-child, .user-list__headers span:last-child {
  flex: 0 100px;
  text-align: center;
}

.admin-add {
  width: 50%;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;

}

.page-actions {
  text-align: center;
}

.font-hidden i {
  position: relative;;
  top: -9999px;
  left: -9999px;
}

.btn.outline {
    background: none;
    /*padding: 12px 22px;*/
}
.btn-primary.outline {
    border: 1px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.toggle-switch.approve {
  padding-top: 9px;
  padding-bottom: 5px;
}


.legendBox{
  width:10px;
  height:10px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
}

.legend-color {
  display: inline-block;
  margin-right: 10px;
}

.reports-list {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

.appointment-info {
  border: 1px solid rgba(0,0,0,.2);
  margin: 5px 0;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}

.reports-list .appointment-headings {
  text-transform: uppercase;
  background-color: rgb(150,150,150);
  color: rgb(240,240,240);
  text-align: center;
  padding: 5px 0;
}


.reports-list .appointment-meta {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.reports-list .appointment-meta > div {
  flex: 1 0;
  /*border: 1px solid red;*/
  background-color: rgb(200,200,200);
  /*border-bottom: 1px solid rgba(0,0,0,.1);*/
  padding: 5px;
}

.reports-list .appointment-meta > div:last-child {
  flex: 0 auto;
  padding: 5px 10px;
}

.reports-list .appointment-meta > div:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.1);
}

.reports-list .appointment-details {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.appointment-details-heading {
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(180,180,180);
  font-size: .8em;
}

.reports-list .appointment-details > div {
  flex: 1 0;

}

.reports-list .appointment-details > ul {
  flex: 1 0;
  padding: 0;
  list-style-position: inside;
  max-width: 50%;
  padding: 0 15px;
}

.reports-list .appointment-details > ul:nth-child(2) {
  border-left: 1px solid rgba(0,0,0,.1);
}

@media (max-width: 1100px) {
  .reports-list .appointment-details > ul {
    flex: 0 100%;
    max-width: 100%;
  }
  .reports-list .appointment-details {
    flex-wrap: wrap;
  }
  .reports-list .appointment-details > ul:nth-child(2) {
    border: none;
  }
}




.reports-list .appointment-details > ul > li {
  display: flex;
  justify-content: space-between;
}

.reports-list .appointment-details > ul > li > span:not(:last-child) {
  flex: 1 0;
}

.header-clickable {
  cursor: pointer;
}

.reports-list .appointment-meta > .header-clickable:hover {
  background-color: rgb(180,180,180);
}

.appointment-user:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.toggle-report-users,
.sort-volunteers {
  display: inline-block;
  border-bottom: 1px solid rgb(100,20,20);
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(150,150,150);
}

.toggle-report-users {
  float: right;
}

.sort-volunteers {
  float: left;
}

.toggle-report-users:hover,
.sort-volunteers:hover {
  background-color: rgb(250,250,250);
}

.toggle-selected {
  color: black;
}

.nav.nav-pills {
  margin: 10px 0 0;
}
.panel {
  -webkit-box-shadow: 8px 8px 5px -2px rgba(133,16,25,0.22);
  -moz-box-shadow: 8px 8px 5px -2px rgba(133,16,25,0.22);
  box-shadow: 8px 8px 5px -2px rgba(133,16,25,0.22);
}
.menu-control{

}
